@import "../../assets/scss/mixins";
.map__container {
  height: 51.2rem;
  position: relative;

  @include respond(big-desktop) {
    height: 63rem;
  }

  @include respond(tab-land) {
    height: 50vh;
  }

  @include respond(phone) {
    height: 40.3rem;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
}
